[submodule "external_libraries/enet"]
	path = external_libraries/enet
	url = https://github.com/zpl-c/enet
[submodule "clang_config"]
	path = clang_config
	url = git@github.com:opengl-toolbox/clang_config.git
